.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-sidebar-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-0);
  z-index: 100;
  margin: var(--spacing-0);
  overflow: hidden;
  box-shadow: 0 0px 64px 0 var(--color-shadow-light);
  width: var(--sidebar-width);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md) 0;
  width: 100%;
}

.appIcon {
  display: block;
  transition: all var(--transition-slow);
  color: var(--color-logo);
}

.appIcon:hover {
  transform: scale(1.1);
  color: var(--color-logo);
  transition: all var(--transition-vslow);
}

.nav {
  flex: 1;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xs);
  padding: var(--spacing-0);
  margin: var(--spacing-0);
}

.navItem {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  color: var(--color-text-secondary);
  font-size: var(--font-size-xs);
  background-color: none;
  text-align: center;
  transition: all var(--transition-slow);
  border-radius: var(--radius-sm);
  margin: var(--spacing-0) var(--spacing-xs);
  min-height: 48px;
  gap: var(--spacing-0);
}

.navItem:not(.active):hover {
  background-color: var(--color-primary);
  transition: all var(--transition-base);
  transition: padding var(--transition-slow);
  padding: .7rem var(--spacing-sm); 
    color: var(--color-white);
 
}

.navItem:not(.active):hover .icon{
  opacity: 1;
  transition: all var(--transition-slow);
}

.navItem.active {
  background-color: var(--color-border-light);
  color: var(--color-primary);
  border: solid 0px var(--color-border);
}

.icon {
  font-size: var(--font-size-xl);
  display: block;
  opacity: 0.3;
}

.navItem.active .icon {
  opacity: 1;
}

.label {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-semibold);
  display: block;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  width: 100%;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  background-color: var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: all var(--transition-base);
}

.userAvatar:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: scale(1.15);
  transition: all var(--transition-base);
}

.avatarText {
  user-select: none;
}