.viewPage {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: left var(--transition-base);
  background-color: var(--color-background);
}

.viewPage.drawerOpen {
  left: calc(var(--sidebar-width) + 220px);
}

.viewPage.drawerClosed {
  left: var(--sidebar-width);
}

.viewHeader {
  padding: var(--spacing-md) var(--spacing-xl) var(--spacing-sm);
  border-bottom: 1px solid var(--color-border);
  flex-shrink: 0;
  background-color: var(--color-sidebarbg);
}

.viewHeader h1 {
  margin: 0 0 var(--spacing-xs) 0;
  text-align: left;
}

.sharedIndicator {
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
  margin: 0;
  text-align: left;
}

.tableContainer {
  flex: 1;
  margin: var(--spacing-0);
  padding: var(--spacing-0);
  background-color: var(--color-background);
  border: 0px solid var(--color-border);
  border-radius: var(--radius-0);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
}

.emptyState {
  text-align: center;
  color: var(--color-text-secondary);
    margin: auto;
}

.emptyState h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-primary);
  margin-bottom: var(--spacing-sm);
}

.emptyState p {
  font-size: var(--font-size-sm);
  margin: 0;
}
